$borderCouleur: #FFE649;

@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate-image {
  animation: rotate1 0.5s ease forwards; /* You can adjust the duration and timing function as needed */
}

.rotate-image2 {
  animation: rotate2 0.5s ease forwards; /* You can adjust the duration and timing function as needed */
}
.flex{


  width:100%;

  text-align: center;
  display: flex;

  align-content: center;
  margin-top:1.2%;
  flex-wrap: wrap;
  .valeur_filtre{
    width:30%;
    margin-right:3%;
  }

}

.filtre_container{
  width:90%;
  margin-left:5%;
  margin-top:3%;
  padding: 1%;
  border-bottom: 8px $borderCouleur solid;
  border-right: 8px $borderCouleur solid;
  border-radius: 10px;
  div, section{
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    margin-bottom:2%;
    &.hide{
      display: none;
    }
    button{
      margin-right:2%;
      width:10%
    }
    img{
      width:3%;
    }
    span{
      width:70%;
      border:2px solid black;
      margin-right:2%;
    }
  }

}

div, section{
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  margin-bottom:2%;
  &.hide{
    display: none;
  }
  button{
    margin-right:2%;
    width:10%
  }
  img{
    width:3%;
  }
  span{
    width:70%;
    border:2px solid black;
    margin-right:2%;
  }
}
.test{
  width:100%;
}
.divFiltres{
  width:100%;
}

.hide{
  display:none
}




