

button{
  margin-left: 1em;
  background-color: var(--CouleurBoutonAdmin);
  padding: .5em;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}

h1{
  text-align: center;
  margin-bottom: 1em;
}

.listeControlleurs{
  position: absolute;
  right: 4%;
  margin-top: -3em;
  width: 15%;

}

div{
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: .5em;
  border-bottom: 2px solid black;

  span:first-of-type{
    margin-left: 2em;
  }
  .aNom{
    margin-right: 1.5em;
    cursor: pointer;

    .selected
    {
      color: VAR(--CouleurSelectionMenu);
    }

    a{
      color: black;
      text-decoration: none;
    }
  }
}


