
<h1 class="controleur_titre">Controle des {{ selectedController }}</h1>

<span class="listeControlleurs">
  <app-liste-deroulante-custom #listeDeroule [baseValue]="selectedController" [values]="controllersString" (selectedValue)="selectController($event)"></app-liste-deroulante-custom>
</span>

<div  class="controller_names_list">
  <span *ngFor="let controller of filteredControllers()">
      <span class="aNom">
            <a (click)="selectController(controller.name)" [class.selected]="controller.name === selectedController">{{controller.name}}</a>
      </span>
  </span>

</div>
<app-filtres (filters)="updateFilters($event)"></app-filtres>
<app-data-display #dataDisplay></app-data-display>
