$backgroundColor:#FFCFDF;

.headerBanner{
  background-color: $backgroundColor;
  height:60px;
  padding: 1%;
  .cercle{
    border-radius: 100%;
    background-color: $backgroundColor;
    width:120px;
    height: 120px;
    position: absolute;
    left:47%;
    img{
      width:90%;
      margin-left:5.5%;
      margin-top:5%;
    }
  }
  .roles{
    position: absolute;
    left:30%;
    top:1%;
    height:50px;
    &:hover{
      cursor: pointer;
    }
    img{
      width:50%;
    }
  }
}

.controleur_titre{
  text-align: center;
  margin-top:3%;
  font-size: xx-large;
}

.controller_names_list{
  width:70%;
  margin-left:15%;
  margin-top:2%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}



.aNom{
  font-size: x-large;
  &:hover{
    cursor: pointer;
  }
}

.selected {
  color: yellow;
}
