@keyframes slideIn {
  0% {
   top:-20%;
  }
  100% {
    top:20%;
  }
}

@keyframes slideOut {
  0% {
    top:20%;
  }
  100% {
    top:-20%;
  }
}


.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}




#exampleModal{
  border:2px solid black;
  width:20%;
  margin-left:39%;
  position:absolute;
  background-color: white;
  top:-20%;
  padding:1%;
  border-radius: 10%;

}

p{
  border-bottom:1px solid gray;
}

.text-danger{
  color:rgb(180, 6, 6);

}

.btn{
  margin-top:6%;
  border-radius: 20%;
  padding:2%;;
  border:none;
  color:white;
}

.btn-secondary{
  margin-left:45%;
  margin-right:3%;
  background-color: gray;
}

.btn-primary{
  background-color: rgb(67, 106, 224);
}

input{
  width:92%;
  margin-left:2%;
}

