img{
  aspect-ratio: 1;
  max-width: 5rem;
}
.flex
{
  display: flex;
  align-items: center;
}
.addImg{
  aspect-ratio: 2;
  height: 1rem;
  cursor: pointer;
  margin-right: .5rem;
  margin-left: .5rem;
}

[src=""]
{
  display: none;
}

[readonly]{
  background-color: #cfcfcf;
}
