h1{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.listeControlleurs{
  position: absolute;
  right: 15%;
  margin-top: -5em;

  select{
    width: 120%;
  }

}

div{
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 1em;
  border-bottom: 2px solid black;

  span:first-of-type{
    margin-left: 2em;
  }
  .aNom{
    margin-right: 1.5em;
    cursor: pointer;

    .selected
    {
      color: #FFE649;
    }

    a{
      color: black;
      text-decoration: none;
    }
  }
}


