<h1>Controle des {{ controllerName$ | async }}</h1>

<span class="listeControlleurs">
  <app-liste-deroulante-custom [values]="listeControlleur" (selectedValue)="handleSelectedValue($event)"></app-liste-deroulante-custom>
</span>

<div>
  <span *ngFor="let controlleur of controlleurs">
    <ng-container *ngIf="controlleur.isMain">
      <span class="aNom">
            <a [routerLink]="['../', controlleur.name]" [ngClass]="{'selected': controlleur.name === selectedControlleur}">{{controlleur.name}}</a>
      </span>
    </ng-container>
  </span>

</div>

