
<footer #footer>

  <app-roue-couleur-display-item *ngIf="objectCouleur" [isUpdatable]="true" [valuePairs]="objectCouleur" [paramInfoResume]="ParamInfoCouleur" (push)="updateCouleurFoot($event.value)" class="roueCouleur"></app-roue-couleur-display-item>

  <div class="footer-container">
    <span>
      <p>Réseaux sociaux</p>

      <span class="liens">
        <a href="">
          <img src="../assets/image/facebook.png" alt="Facebook">
        </a>

        <a href="">
          <img src="../assets/image/instagram.png" alt="Instagram">
        </a>
      </span>


      <p>© LeChai</p>
    </span>
  </div>

</footer>



