.container{
  background-color: var(--CouleurBackFiltreUpdate);
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
}

.paramInfoContainer{

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.spanDisplay{
  width: fit-content;
}

.btnFlex{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-bottom: 1em;
  border-bottom: solid 3px black;
  margin-top: 1em;
  padding-right: 2em;

}

.addbtn{
  margin-left: 1em;
  margin-bottom: 0.5em;
  background-color: var(--CouleurBoutonAdmin);
  border-radius: 10px;
  border: 1px solid black;

  padding: 1em;
  cursor: pointer;
}

.errMsg
{
  font-size: smaller;
  color: red;
}

.modal{
  position: fixed;
  z-index: 2;
  border: 3px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
  z-index: 1; /* Mettez le z-index supérieur à celui du modal */
}

.showTypeRef{
  width: 100%;
}
