.ref{
  width: 100%;
}

.paramInfoContainer{

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;


  border-radius: 10px;

}

.btnFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:1rem;
}

.addbtn{
  margin-left: 1em;
  margin-bottom: 0.5em;
  background-color: rgb(255,250,234);
  border-radius: 10px;
  border: 1px solid black;

  padding: 1em;
  cursor: pointer;
}
