
div, section{
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  margin-bottom:2%;
  &.hide{
    display: none;
  }
  button{
    margin-right:2%;
    width:10%
  }
  img{
    width:3%;
  }
  span{
    width:70%;
    border:2px solid black;
    margin-right:2%;
  }
}



.test{
  width:100%;
}
.divFiltres{
  width:100%;
}
.filtres{
  border:3px solid black;
  width:27%;
  margin-top:1%;
  margin-right:4%;
  min-height: 50px;
}

.hide{
  display:none
}
