
<div class="filtre_container">
  <div class="filter_header">
    <span class="filtre_resume">
      <p *ngFor="let filterResume of FilterResumes">{{filterResume.name}} - {{filterResume.params[0]}}</p>
    </span>
    <button (click)="refreshFiltres()" class="btn">Refresh</button>
    <button (click)="updateFilters({}, false)" class="btn">Reset</button>
    <img src="assets/image/hideFiltre.png" alt="hideFiltre" (click)="toggleHide()" #fleche class="btn">
  </div>
  <app-display-item-container #filtersContainer [class.hide]="filterHidden" [ContainerType]="ItemContainerTypes.Filters" (params)="updateFilters($event)" ></app-display-item-container>
</div>

