
<div class="block">
<div class="btnDiv">
  <button *ngFor="let funct of getRouteByType(RouteDisplayTypes.MULTIPLE)" (click)="toggleFunction(funct)" class="btn">{{funct.route.name}}</button>
</div>

<ng-container *ngIf="selectedFunction">
  <app-display-item-container
    [DisplayItemInfos]="selectedFunction.paramsInfo"
    [ContainerType]="ItemContainerTypes.SingleFunction"
    [refControlleur]="ControllerName"
    (params)="executeFunction($event, selectedFunction.route.name, selectedFunction.route.routeType, true)"
  ></app-display-item-container>
</ng-container>

<table>
  <thead>
  <tr>
    <th><input type="checkbox" #checkAll id="checkAll" (change)="checkAllItems(checkAll.checked)"></th>
    <th *ngFor="let prop of proprietiesResum" class="grandeur">{{ prop.name }}</th>
  </tr>
</thead>
  <tbody>
    <ng-container *ngFor="let item of dataDisplay; let i = index">
      <tr>
        <td class="checkboxTD"><input type="checkbox" [checked]="checkIndex(i, false)" id="check{{i}}" (change)="toggleSelected(i, item, false)"></td>
        <td *ngFor="let prop of proprietiesResum" (click)="toggleSelected(i, item, true)" [ngSwitch]="prop.showTypeID" [class]="'showType-'+prop.showTypeID">
          <img *ngSwitchCase="11" [src]="baseURL + '/GetImage/' + getValue(prop.params, item)" class="imgProd">
          <input type="color" *ngSwitchCase="13" [value]="getValue(prop.params, item)" class="colorInput">
          <span *ngSwitchDefault>{{ getValue(prop.params, item) }}</span>
        </td>
      </tr>
      <tr *ngIf="checkIndex(i, true)" id="selectedDetail">
        <td [attr.colspan]="proprietiesResum.length+1">
          <app-display-item-container
            [Routes]="getRouteByType(RouteDisplayTypes.SINGLE)"
            [Ids]="currentInfosIds(i)"
            [DisplayItemInfos]="Proprieties"
            [ContainerType]="ItemContainerTypes.Proprieties"
            [refControlleur]="ControllerName"
            (params)="executeFunction($event[0], $event[1], $event[2], false)"></app-display-item-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

  <div *ngIf="keysTotaux().length > 0" class="totaux">
  <h2>Totaux :</h2>
  <p *ngFor="let total of keysTotaux()">{{ total + " : " + totauxRapport[total] }}</p>
  </div>

</div>
