@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.block{
  display: block;
  width: 100%;
}

.btnDiv{
  margin-left: 4em;
  margin-right: 3em;
  margin-top: 3em;
}

.btn{
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: rgb(255,250,234);
  border-radius: 10px;
  border: 1px solid black;
  width: 10%;
  padding: 1.5em;
  cursor: pointer;
}

.btnFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addbtn{
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: rgb(255,250,234);
  border-radius: 10px;
  border: 1px solid black;
  width: 15%;
  padding: 1em;
  cursor: pointer;
}

table {
  table-layout:fixed;
  width: 98%;
  word-wrap: break-word;
  border-collapse: collapse;
  margin:auto;
  margin-top: 2em;
}

th, td{
  border: 1px solid black;
  padding: 8px;
  /* max-height: 1em; */

}

th{
  background-color: rgb(255,250,234);
}

.imgProd{
  aspect-ratio: 1;
  max-width: 5rem;
}

.showType-11{
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Start with a transparent background */
  z-index: 999;
  transition: background-color 0.3s ease-in-out; /* Transition background color */
  animation: fadeOut 0.3s ease-in-out; /* Apply the animation */
  animation-fill-mode: forwards; /* Maintain the final state of the animation */
}

/* Style for the app-display-item-container */
.singleFunction{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Should be even higher than the modal overlay */
  background-color: #fff; /* Your desired background color */
  padding: 20px; /* Your desired padding */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Your desired box shadow */
}

.active {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}
