<nav  [style.background-color]="navBackgroundColor" class="header">
  <img src="assets/image/leChaiLogo.png" class="titre" alt="Titre">
  <div [style.background-color]="navBackgroundColor" class="cercle">
    <a routerLink="">
      <img class="logo"src="assets/image/logo.png" alt="logo">
    </a>
  </div>

  <div class="color-picker">
    <input type="color" id="colorInput" [(ngModel)]="navBackgroundColor"  (input)="onColorChange($event)">

    <!-- <app-roue-couleur-display-item [backgroundColor]="navBackgroundColor" ></app-roue-couleur-display-item> -->
  </div>

  <ng-container *ngIf="nomAdmin; else notConnected">
    <p class="nomAdmin">Bonjour {{ nomAdmin }}!</p>
    <span class="lienDeco">
      <a (click)="deconnecter()">Déconnexion</a>
    </span>
  </ng-container>

  <ng-template #notConnected>
    <!-- Utilisateur non connecté -->
    <span *ngIf="!connecter" class="lienCo">
      <a routerLink="/connexion">Connexion</a>
    </span>
  </ng-template>




</nav>
